.delete-contact-details{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 40%;
    padding: 30px 40px;
    transform: translate(-50%, -50%);
    background: white;
    .delete-contact-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            color: rgb(50, 49, 49) !important;
            font-size: 25px !important;
        }
        h5{
            color: rgb(50, 49, 49) !important;
            font-size: 18px !important;
            font-weight: 400;
        }
        .delete-contact-button{
            display: flex;
            justify-content: space-between;
            button{
                display: inline-flex;
                height: 35px;
                padding: 0 20px;
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;
                line-height: 35px;
                outline: none;
                margin: 20px 10px;
                border: none;
                color: #fff;
            }
            button:first-child{
                background: #2980b9;
            }
            button:last-child{
                background: #f23b26;
            }
        }
    }
}